apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.releasename" . }}
  labels:
    {{- include "app.commonlabels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "app.matchlabels" . | nindent 4 }}
